.footer{
    background-color: #5A554D;
    padding: 30px 0;
    height: 50vh;
    position: relative;

    &_img{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.footer > div{
    @include grid(1fr 1fr 1fr, 20px);
    align-items: flex-end;
}
.footer_item{
    h2{
        font-size: 16px;
        color: #fff;
        font-weight: 400;
    }
    p{
        font-size: 14px;
        color: #fff;
        font-weight: 300;
        padding-top: 40px;
    }
    a{
        font-size: 14px;
        color: #fff;
        font-weight: 300;
    }

    
}
.footer_item1{
    &_brend{
        @include grid(1fr 1fr 1fr, 0px);
        width: 250px;
        padding-bottom: 30px;

        i{
            width: 30px;
            height: 30px;
            color: #000;
            background-color: $first-color;
            font-size: 20px;
            border-radius: 100%;
            @include flex(center, center, 0);
        }
    }
}
.footer_chenge1{
    display: none;
}
@media (max-width: 750px){
    .footer > div{
        @include grid(1fr 1fr, 20px);
    }
    .footer_item2{
        display: none;
    }
    .footer_chenge1{
        display: block;
        padding: 10px 0;
    }
    .footer_chenge2{
        display: none;
    }
    .footer_item1{
        width: 80px;
        justify-items: end;
        justify-content: end;

        &_brend{
            width: 100%;
            i{
                width: 20px;
                height: 20px;
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 400px){
    .footer_item{
        h2{
            font-size: 12px;
            color: #fff;
            font-weight: 400;
        }
        p{
            font-size: 11px;
            color: #fff;
            font-weight: 300;
            padding-top: 40px;
        }
        a{
            font-size: 11px;
            color: #fff;
            font-weight: 300;
        }
    
        
    }
}